
#about {
  min-height: 50vh;
  margin: auto;
  max-width: 1000px;
  padding-top: 5%;
}

.about-heading {
  color: #ccd6f6;
  font-weight: bold;
  font-family: fantasy, cursive;
  font-size: 35px;
  position: relative;
  display: inline-block;
}

.about-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 3px;
  background-color: #45cfcd;
}

.about-content {
  display: flex;
  flex-wrap: wrap;    justify-content: space-between;
  flex-direction: row;
}

.about-description {
  font-family: monospace;
  color: #ccd6f6;
  max-width: 600px;
  font-size: 20px;
  text-align: justify;
  margin: 0;
  flex: 1;  }

.about-image {
  padding-left: 40px;
  flex-shrink: 0;  }

.about-image img {
  max-width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: 30px;
  box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
  border: none;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
  transform: scale(1.15);
}

.about-description ul {
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-description li {
  position: relative;
  padding-left: 20px;
  font-size: 20px;
  color: #ccd6f6;
  font-family: monospace;
}

.about-description li::before {
  content: "\00BB    ";
  color: #45cfcd;
  position: absolute;
  left: 0;
}

.about-description a,
.about-description b {
  font-size: 20px;
  font-weight: bold;
  color: #45cfcd;
  font-family: monospace;
}

@media only screen and (max-width: 788px) {
  .about-image img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  #about {
    height: auto;
    padding-top: 20%;
  }

  .about-description {
    font-size: 18px;
    text-align: justify;
  }

  .about-description a,
  .about-description b {
    font-size: 17px;
  }

  .about-image img {
    display: none;    }

  .about-content {
    display: block;    }
}

 html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
