.about-container {
    display: flex;
    margin-bottom: 20px;
    font-family: monospace;
  
  }
  
  .about-text {
    font-family: monospace;
    font-size: 30px;
    margin: 0;
    white-space: nowrap;
  }
  
  
  .about-window {
    width: 100%;
    max-width: 200px;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: #00ff00;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    overflow: hidden;
  }
  