/* General Styles for the Intro Section */
#Intro {
  position: relative;
  min-height: 100vh; /* Ensure the section covers the full viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#0a192f ;
  color: #ccd6f6;
}

.intro-container {
  text-align: center;
  max-width: 90%; /* Allow some padding on smaller screens */
  margin: 0 auto;
}

.hi {
  color: #ccd6f6;
  font-weight: 200;
  font-size: 48px;
  font-family: fantasy;
  text-align: center;
}

.name {
  color: #64ffda;
  font-weight: 500;
  font-size: 48px;
  font-family: fantasy;
  text-align: center;
}

.intro-one {
  color: #ccd6f6;
  font-weight: 100;
  font-size: 30px;
  font-family: fantasy;
  display: block;
  text-align: center;
  margin: 10px auto;
  max-width: 70%;
  line-height: 1.5;
}

.p {
  color: #ccd6f6;
  font-weight: 100;
  font-size: 20px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 60%;
  line-height: 1.5;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .hi,
  .name {
    font-size: 36px;
  }

  .intro-one {
    font-size: 24px;
    max-width: 80%;
  }

  .p {
    font-size: 18px;
    max-width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .hi,
  .name {
    font-size: 28px;
  }

  .intro-one {
    font-size: 22px;
    max-width: 90%;
  }

  .p {
    font-size: 16px;
    max-width: 90%;
  }
}

/* Styling for FractalTree to fit well in mobile */
.FractalTree {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
